body {
  /* Helvetica is so 2007 */
  font-family: Palatino, serif;
  font-size: 16px;
}

main {
  max-width: 90%;
  width: 50em;
  margin: 2em auto;
}

h1 {
  text-align: center;
}


.sortable {
  position: relative;
  opacity: 0.5;
  cursor: wait;
}
.sortable:before {
  content: "LOADING...";
  display: block;
  position: absolute;
  font-size: 5em;
  text-align: center;
  margin: 1em auto;
  width: 100%;

  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #009cff80;
}
.sortable.dataTable {
  opacity: 1;
  cursor: initial;
}
.sortable.dataTable:before {
  content: "";
  display: none;
}

.dataTables_filter {
  margin: 1em 0;
}
.dataTables_filter input {
  margin-left: 1em;
}
